@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    font-size: 16px;
    height: 60px;
}

.navbar-brand {
    font-size: 24px;
    background: none;
    border: none
}

.sidebar {
    background: rgb(48, 48, 48);
    width: 80px;
    height: 100vh;
    color: #999;
    list-style-type: none;
    list-style: none;
    padding-left: 0;
    transition: width 0.1s;
}

.sidebar-field {
    padding: 15px 0 15px 0;
    display: flex;
}

.sidebar-field:hover {
    background: rgb(77, 75, 75);
    cursor: pointer;
    color: whitesmoke
}

.field-icon {
    display: flex;
    justify-content: center;
    width: 80px;
}

.sidebar i {
    font-size: 24px;
}

.sidebar-field span {
    font-family: 'Roboto', sans-serif;
    display: none;
    padding-left: 8px;
    font-size: 16px;
}